check-manifest==0.48
check_reqs==0.2.0
codecov==2.1.12
docutils==0.18.1
flake8-docstrings==1.6.0
flake8-rst-docstrings==0.2.6
hypothesis==6.56.3
pybind11==2.9.2
pypi-oldest-requirements==2021.2.0
pyqt5-qt5==5.15.2
pyqt5==5.15.7
pytest-cov==3.0.0
pytest-memprof==0.2.0
pytest-notebook==0.8.0
pytest-parallel==0.1.1
pytest-regressions==2.3.1
pytest-xdist==2.5.0
pytest==7.1.2
readme_renderer==35.0
rstcheck==6.0.0.post1
scikit-fem==6.0.0
twine==3.8.0
PySide2==5.15.2.1
bash_kernel
click
diskcache
dune-gdt==2021.1.3;platform_system == "Linux" and platform_machine == "x86_64"
dune-xt==2021.1.3;platform_system == "Linux" and platform_machine == "x86_64"
gmsh
ipyparallel==6.2.5
ipython==5.0.0
ipywidgets==7.0.1
jupyter_client==7.0.6
jupyter_contrib_nbextensions
lxml
matplotlib
meshio==4.4.0
mpi4py==3.0.3
myst-nb==0.16.0
nbresuse
numpy==1.19.4
packaging
pillow
pyevtk
pygments
pymess
pyopengl
python-slugify
pythreejs
qtpy==2.0.1
scipy==1.5.4
slycot==0.4.0.0
sphinx-autoapi==1.8.0
sphinx-material
sphinx-qt-documentation
sphinx==5.0.0
sphinxcontrib-bibtex
sympy
torch==1.11.0
typer
xmljson
cmake
cmarkgfm
jupytext
pyvista
itkwidgets
MonkeyType
mypy
pyicontract-lint
pytest-pycharm
pytimings
rich
scikit-build
sphinx-autodoc-typehints
sphinx-icontract
virtualenv
wheel==0.37.0
Cython==0.29.28
setuptools_scm==3.3.1
pytest-runner==2.9
setuptools
# verbatim copies of original lines
# imported requirements
click
diskcache
numpy==1.19.4
packaging
pytest-runner==2.9
qtpy==2.0.1
scipy==1.5.4
setuptools
typer
wheel
# verbatim copies of original lines
# imported requirements
click
diskcache
numpy==1.19.4
packaging
pytest-runner==2.9
qtpy==2.0.1
scipy==1.5.4
setuptools
typer
wheel
# verbatim copies of original lines
# imported requirements
check-manifest==0.48
check_reqs==0.2.0
codecov==2.1.12
docutils==0.18.1
flake8-docstrings==1.6.0
flake8-rst-docstrings==0.2.6
hypothesis==6.56.3
pybind11==2.9.2
pypi-oldest-requirements==2021.2.0
pyqt5-qt5==5.15.2
pyqt5==5.15.7
pytest-cov==3.0.0
pytest-memprof==0.2.0
pytest-notebook==0.8.0
pytest-parallel==0.1.1
pytest-regressions==2.3.1
pytest-xdist==2.5.0
pytest==7.1.2
readme_renderer==35.0
rstcheck==6.0.0.post1
scikit-fem==6.0.0
twine==3.8.0
# verbatim copies of original lines
# imported requirements
click
diskcache
numpy==1.19.4
packaging
pytest-runner==2.9
qtpy==2.0.1
scipy==1.5.4
setuptools
typer
wheel
# verbatim copies of original lines
# imported requirements
