PySide2==5.12.0
bash_kernel
deal
cython==0.28
diskcache
docopt-ng
gmsh
icontract
ipyparallel==6.2.5
ipython==5.0.0
ipywidgets
jupyter_contrib_nbextensions
jupyter_sphinx
jupytext
matplotlib
meshio==4.2.0
mpi4py==3.0.0
nbresuse
numpy==1.22.0
packaging
pillow
pyevtk==1.1.0
pygments
pymess
pyopengl
pytest-runner==2.9
pytest==4.4.0
python-slugify
pythreejs
qtpy
scipy==1.1.0
setuptools==40.8.0
slycot==0.4.0.0
sphinx-autoapi==1.8.0
sphinx-autodoc-typehints
sphinx-icontract
sphinx-material
sphinx-qt-documentation
sphinx==3.4.0
sphinxcontrib-bibtex
sympy
torch
typer
wheel
# verbatim copies of original lines
# imported requirements
deal
cython==0.28
diskcache
docopt-ng
icontract
numpy==1.22.0
packaging
pytest-runner==2.9
qtpy
scipy==1.1.0
setuptools==40.8.0
typer
wheel
# verbatim copies of original lines
# imported requirements
PyQt5==5.7.1
check-manifest
codecov
flake8-docstrings
flake8-rst-docstrings
hypothesis==5.19.0
myst-nb==0.13.0a1
pyicontract-lint
nbconvert
pypi-oldest-requirements==2021.1.2
pytest-cov
pytest-datadir
pytest-memprof
pytest-mypy
pytest-parallel
pytest-qt
pytest-regressions
pytest-timeout
pytest-xdist
pytest==4.4.0
readme_renderer
rstcheck
testipynb
twine
virtualenv
# verbatim copies of original lines
# imported requirements
deal
cython==0.28
diskcache
docopt-ng
icontract
numpy==1.22.0
packaging
pytest-runner==2.9
qtpy
scipy==1.1.0
setuptools==40.8.0
typer
wheel
# verbatim copies of original lines
# imported requirements
